<div class="padding">
	<div class="panel panel-default">
		<div class="panel-bod center">

			<% if signed_in? %>
			<table id="prace_polozkas" class="table table-condensed table-hover table-bordered" style="width:100%">
				<thead>
					<tr>
						<th class="cellaccent"></th>
						<th>Datum</th>
						<th>Jméno</th>
						<th>Práce pro projekt</th>
						<th>Náplň práce</th>
						<th>Počet hodin</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @prace_polozkas.each do |prace_polozka| %>
						<% os = Osoba.find_by(id: prace_polozka.osoba_id) %>
						<% pr = Projekt.find_by(id: prace_polozka.projekt_id) %>

					<tr>
						<td>
							<% if current_user.osoba_id == 8 or current_user.osoba_id == os.id  %>
								<%= link_to edit_prace_polozka_path(prace_polozka), class: "btn btn-default" do %>
									<%= fa_icon "pencil" %>
								<% end %>
							<% end %>
						</td>						<td><%= prace_polozka.datum %></td>
						<td><%= os.jmeno + " " + os.prijmeni %></td>
						<td><%= pr.kod.to_s + ' - ' + pr.nazev %></td>
						<td><%= prace_polozka.obsah %></td>
						<td><%= prace_polozka.hodiny %></td>
						<td>
							<% if current_user.admin? or current_user.osoba_id == os.id  %>
							<%= link_to prace_polozka, method: :delete, data: { confirm: 'Rozmysli si, Maruško, rozmysli!' }, class: "btn btn-danger" do %>
							<%= fa_icon "trash-o" %>
							<% end %>
						</td>
						<% end %>
					</tr>
					<% end %>

				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>

			<div class="container">
				<div class="row">
					<% else %>
					<%= link_to "přihlaš se!", signin_path, :class => "btn btn-lg btn-warning" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

