<h1>Info podle měsíců</h1>

<table class="table table-condensed table-hover table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Osoba</th>
      <th>Hodiny</th>
    </tr>
  </thead>
  <tbody>
    <% @mesicni_hodiny.each do |mh| %>
    <tr>
      <td><%= mh[0] %></td>
      <td><%= mh[1].jmeno + " " + mh[1].prijmeni %></td>
      <td>
        <% mh[2] = mh[2].sort { |x,y| y <=> x } %>
        <% mh[2].each do |mh2| %>
          <strong><%= mh2[0].month.to_s + "/" + mh2[0].year.to_s + ": " %></strong>
          <%= mh2[1] %><br/>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>