<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#uzivatele" aria-controls="uzivatele" role="tab" data-toggle="tab">Správa uživatelů</a></li>
    <li role="presentation"><a href="#projekty" aria-controls="projekty" role="tab" data-toggle="tab">Správa projektů</a></li>
  </ul>


  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="uzivatele">

      <h1>Správa uživatelů</h1>

      <table>
        <thead>
          <tr>
            <th>Aktivní?</th>
            <th>Jméno</th>
          </tr>
        </thead>
        <tbody>

          <% @users.each do |us| %>
          <% os = @osobas.find(us.osoba_id) %>
          <tr>
            <td class="text-center"><input type="checkbox" id=<%= us.id %> name=<%= us.id %> <%= us.active? ? "checked" : "" %> onClick="userToggle(<%= us.id %>)" ></td>
            <td><%= [os.jmeno,os.prijmeni].join(" ") %></td>
          </tr>
          <% end %>

        </tbody>
      </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="projekty">

      <h1>Správa projektů</h1>

      <%= button_to "Nový projekt", action: "new", controller: "projekts" %>

      <table>
        <thead>
          <tr>
            <th>Aktivní?</th>
            <th>Jméno</th>
          </tr>
        </thead>
        <tbody>

          <% @projekts.each do |pr| %>
          <tr>
            <td class="text-center"><input type="checkbox" id=<%= pr.id %> name=<%= pr.id %> <%= pr.active? ? "checked" : "" %> onClick="projectToggle(<%= pr.id %>)" ></td>
            <td><%= [pr.kod, pr.nazev].join(" ") %></td>
          </tr>
          <% end %>

        </tbody>
      </table>


    </div>


  </div>
</div>