<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#lide" aria-controls="lide" role="tab" data-toggle="tab">Lidé</a></li>
    <li role="presentation"><a href="#projekty" aria-controls="projekty" role="tab" data-toggle="tab">Projekty</a></li>
    <!-- <li role="presentation"><a href="#lidi-projekty" aria-controls="lidi-projekty" role="tab" data-toggle="tab">Lidi - Projekty po měsících</a></li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="lide">
      <h1>Součty hodin po měsících - lidé</h1>


      <% @months_worked_osobas.reverse_each do |month| %>

      <table class="table table-condensed table-hover table-bordered">
        <thead>
          <tr>
            <th><%= month[0] %></th>
            <!-- <th>Kód projektu</th> -->
            <th>Hodiny</th>
            <th colspan="4">Rozdělení práce na projektech</th>
          </tr>
        </thead>

        <tbody>
          <% month[1].each do |os| %>
          <% thisos = @osobas.find {|a| a.id == os[0]} %>
          <tr id="lidetable-lastrow-left">
            <td rowspan="<%= (os[2].size + 1) %>"><strong><%= thisos.jmeno.to_s + " " + thisos.prijmeni.to_s  %></strong></td>
            <td rowspan="<%= (os[2].size + 1) %>"><%= os[1] %></td>

            <% os[2].each_with_index do |projs, index| %>
            <tr <%= index==(os[2].size-1) ? 'id=lidetable-lastrow-right' : "" %> >
                          <td><%= @projekts.find_by_id(projs[0]).nazev %></td>
                          <td><%= projs[1] %> h</td>
                          <td><%= ((100*projs[1]/os[1]).round(1)) %> %</td>
                          <td><%= ((projs[1]/os[1]).round(1)) %></td>
            </tr>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>

      <% end %>

<!--       <table class="table table-condensed table-hover table-bordered">
        <thead>
          <tr>
            <th>Osoba</th>
            <th>Měsíce</th>
            <th>Hodiny</th>
          </tr>
        </thead>
        <tbody>
          <% @mesicni_hodiny.each do |mh| %>
          <tr>
            <td><%= mh[2].jmeno + " " + mh[2].prijmeni %></td>
            <% mh[3] = mh[3].sort { |x,y| y <=> x } %>
            <% mh[3].each do |mh2| %>
            <td><strong><%= mh2[0].month.to_s + "/" + mh2[0].year.to_s%></strong><br/></td>
            <td><%= mh2[1] %><br/></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    -->



  </div>

  <div role="tabpanel" class="tab-pane" id="projekty">
    <h1>Součty hodin po měsících - projekty</h1>

    <% @months_worked.reverse_each do |month| %>

    <table class="table table-condensed table-hover table-bordered">
      <thead>
        <tr>
          <th><%= month[0] %></th>
          <th>Kód projektu</th>
          <th>Hodiny</th>
        </tr>
      </thead>

      <tbody>
        <% month[1].each do |pr| %>
        <% thisproj = @projekts.find {|a| a.id == pr[0]} %>
        <tr>
          <td><%= thisproj.nazev %></td>
          <td><%= thisproj.kod %></td>
          <td><%= pr[1] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>



    <% end %>


<!--       <table class="table table-condensed table-hover table-bordered">
        <thead>
          <tr>
            <th>Název projektu</th>
            <th>Kód projektu</th>
            <th>Měsíce</th>
            <th>Hodiny</th>
          </tr>
        </thead>
        <tbody>
          <% @projektove_hodiny.each do |mh| %>
          <tr>
            <td><%= mh[1].nazev %></td>
            <td><%= mh[1].kod %></td>
            <% mh[2] = mh[2].sort { |x,y| y <=> x } %>
            <% mh[2].each do |mh2| %>
            <td><strong><%= mh2[0].month.to_s + "/" + mh2[0].year.to_s%></strong><br/></td>
            <td><%= mh2[1] %><br/></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>

    -->
  </div>


</div>

</div>



