<table class="table table-condensed">

	<thead>
		<tr>
			<th>Projekt</th>
			<th>Jméno</th>
			<th><button behaviour="datepicker" placeholder="Vyber měsíc" style="text-align: center">vyber měsíc</button></th>
		</tr>
	</thead>

  <% mesic = '2015-10-13' %>

<% @projekts.each do |proj| %>


	<tbody>
		<tr>
			<td><%= proj.kod %></td>
			<td><%= proj.nazev %></td>
			<td id="<%= proj.kod %>"><%= proj.prace_polozkas.sum(:hodiny) %></td>
      <td><%= proj.prace_polozkas.where("datum = ?", mesic).sum(:hodiny) %></td>

			</td>
		</tr>
	</tbody>

<% end %>

</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('[behaviour~=datepicker]').datepicker({
      format: "mm.yyyy",
      weekStart: 1,
      todayBtn: "linked",
      language: "cs",
      todayHighlight: true,
      orientation: "bottom",
      startView: "months",
      minViewMode: "months",
      autoclose: true,
    }
    ).on('changeDate', function(e) {
  		alert('hey');
  		$.ajax({
  			type: 'GET',
  			url: '/prace_polozkas/',
  			data: '<%= mesic = '2015-10-13'; @projekts.each {|proj| proj.prace_polozkas.where("datum = ?", mesic).sum(:hodiny)} %>'
  		});
    });
  });

</script>