<table>

	<thead>
		<tr>
			<th>Projekt</th>
			<th>Jméno</th>
		</tr>
	</thead>

<% @projekts.each do |proj| %>


	<tbody>
		<tr>
			<td><%= proj.nazev %></td>
			<td>
			<table>


			</td>
		</tr>
	</tbody>

<% end %>

</table>
