// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  color: green;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral

main {
  // @extend .container;


  // background-color: #DE2EB4;
  //padding-bottom: 80px;
  width: 80%;
  margin: 0 auto;
  margin-top: 51px; // accommodate the navbar

  // border: 3px solid #3742B5;
  //padding: 1%;

  -webkit-border-radius: 3px;
  // -webkit-border-top-right-radius: 9px;
  -moz-border-radius: 3px;
  // -moz-border-radius-topright: 9px;
  border-radius: 3px;
  // border-top-right-radius: 9px;

  //background: #EDEBEB;
  }

.form-border {
  /*border: 3px solid #FA0D8F;*/
  // border: 3px solid #3742B5;
  //padding: 1%;

  -webkit-border-radius: 5px;
  // -webkit-border-top-right-radius: 9px;
  -moz-border-radius: 5px;
  // -moz-border-radius-topright: 9px;
  border-radius: 5px;
  // border-top-right-radius: 9px;

  background: #EDEBEB;
}

section {
  @extend .row;
  margin-top: 20px;
  }
