// Place all the styles related to the Prace_polozkas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// import the CSS framework
@import "bootstrap";

.sorting_asc {
  background-color: #FA9565;
}

.sorting_desc {
  background-color: #FA9565;
}

.table {
  text-align: center;
  thead {
    background-color: lightblue;
    tr {
      th {
        vertical-align: middle;
      }
    }
  }
}

.table-bordered {
  border-width: 4px;
  th {
    font-weight: 900;
  }
}

th {
  text-align: center;
  font-family: courier;
  font-size: 11px;
}

footer {
  text-align: center;
}

.h1 {
  font-family: courier;
  text-align: center;
  font-size: 20px;
}

.padding {
  padding-top: 17px;
}

#prace_polozkas {
  width: 100%;
}

#novyzapisbtn #statistika {
  text-align: center;
  //margin-top: 15px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}

.kontrastbtn {
  @extend .btn;
  @extend .btn-primary;
  //background-color: #777777;
  background-color: black;
  color: white !important;
  margin: 25px;
  &:hover {
    background-color: #444444;
  }
}

.center {
  text-align: center;
}

.cellaccent {
  background-color: #E89161;
}

.padding-top20 {
  padding-top: 20px;
  padding-bottom: 25px;
}

.zpetmargin {
  padding-right: 5px;
  padding-left: 5px;
}

.ulozmargin {
  margin-right: 5px;
}


#lidetable-lastrow-left, #lidetable-lastrow-right {
  border-bottom: 3px solid grey;
}

// div.dataTables_scroll { clear: both; }
.dataTables_length, .dataTables_filter {
  margin: 1%;
}

#OrgChartModal .modal-dialog  {width:85%;}

#orgchartFF {
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
transform: rotate(-90deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
float:left;
height:100px; /* this should be the css value from the chart's width. you could set this programmatically with javascript or just take a good guess */
}

/*add an element after your container to fix the float issue like <br style="height:1%;clear:both" />*/

.google-visualization-orgchart-nodeFF {
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
transform: rotate(90deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
/* another way to shrink the chart is to use a smaller font which can be styled in this class */
}

.google-visualization-orgchart-space-small {
/* adjust this height as needed since this is really based on the width of your tree's root element */
height:5px;
}

.google-visualization-orgchart-connrow-small {
/* again this will vary base on how wide your elements are */
height:5px;
}
