// Place all the styles related to the Prace_polozkas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// import the CSS framework
@import "bootstrap";

.sorting_asc {
  background-color: #FA9565;
}

.sorting_desc {
  background-color: #FA9565;
}

.table {
  text-align: center;
}

th {
  text-align: center;
  font-family: courier;
  font-size: 11px;
}

footer {
  text-align: center;
}

.h1 {
  font-family: courier;
  text-align: center;
  font-size: 20px;
}

.padding {
  padding-top: 17px;
}

#novyzapisbtn {
  text-align: center;
  margin-top: 15px;
}

.kontrastbtn {
  @extend .btn;
  @extend .btn-primary;
  background-color: #777777;
  color: white !important;
  &:hover {
    background-color: #444444;
  }
}

.center {
  text-align: center;
}

.cellaccent {
  background-color: #E89161;
}
