<%= form_for(@projekt) do |f| %>
<% if @projekt.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@projekt.errors.count, "error") %> prohibited this projekt from being
    saved:
  </h2>

  <ul>
    <% @projekt.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="col-lg-4"></div>
<div class="col-lg-4">
  <form class="form-horizontal" role="form">

    <div class="form-group center row">
      <%= f.label :nazev, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field(:nazev, class: 'form-control') %>
      </div>
    </div>
    <div class="form-group center row">
      <%= f.label :kod, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :kod, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group center row">
      <%= f.label :active, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.check_box :active, class: 'form-control' %>
      </div>
    </div>
    <!--<div class="row padding-top20"></div>-->
    <div class="form-group center actions row ">
      <div class="col-lg-6"></div>
      <%= f.submit 'Uložit', class: 'btn btn-primary col-lg-3 ulozmargin' %>
      <%= link_to 'Zpět', projekts_path, class: 'btn btn-default col-lg-2 zpetmargin' %>
    </div>
  </div>
</form>


<script type="text/javascript">
  $(document).ready(function () {
  })

  $(document).ready(function () {
    $("#sel2").select2({
      width: 'resolve'
    }
    );
  })
</script>

<% end %>
