<%# add navigation links to this file %>
<li>
	<div id="novyzapisbtn">
		<% if signed_in? %>
		<%= link_to 'Zapsat hodiny', new_prace_polozka_path, :class => "btn kontrastbtn" %>
		<% end %>
	</div>
</li>

<li>
	<div id="statistika">
		<% if signed_in? %>
		<% if current_user.admin? %>
		<%= link_to 'Statistika', statistika_path, :class => 'btn kontrastbtn' %>
		<% end %>
		<% end %>
	</div>
</li>

<li>
	<div id="statistika po mesicich">
		<% if signed_in? %>
		<% if current_user.osoba_id == 8 %>
		<%= link_to 'month_statistika', month_statistika_path, :class => 'btn kontrastbtn' %>
		<% end %>
		<% end %>
	</div>
</li>

<li>
	<div id="settings">
		<% if signed_in? %>
		<% if current_user.admin? %>
		<%= link_to 'Nastavení', settings_path, :class => 'btn kontrastbtn' %>
		<% end %>
		<% end %>
	</div>
</li>