<%# add navigation links to this file %>
<li>
	<div id="novyzapisbtn">
		<% if signed_in? %>
		<%= link_to 'zapsat novou práci?', new_prace_polozka_path, :class => "kontrastbtn" %>
		<% end %>
	</div>
</li>

<li>
	<div id="statistika">
		<% if current_user.osoba_id == 8 %>
		<%= link_to 'statistika', statistika_path, :class => 'kontrastbtn' %>
		<% end %>
	</div>
</li>