<!DOCTYPE html>
<html>
	<head>
		<script src='http://www.google.com/jsapi'></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "Ramus // Výkaz práce" %></title>
		<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ramus Vykaz" %>">
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body data-no-turbolink>
		<header>
			<%= render 'layouts/navigation' %>
		</header>
		<main role="main">
			<%= render 'layouts/messages' %>
			<%= yield %>
		</main>
	</body>
	<div class="container">
	<footer class="row">
		<section class="col-md-6">Kopyrajt Ramus ajtý sekce</section>
		<section class="col-md-6">Made during a lunch break</section>
	</footer>
	</div>
</html>
